@use "../../utils/variable";

.formCreateThread {
    align-items: start;
    padding-top: 10px;
    margin: auto;
    width: 100%;
    gap:5px;

    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 20px 20px 38px 300px auto;


    #formCreateThreadTitle{
        grid-column: 2;
        grid-row: 1;
    }
    #formCreateThreadCategory{
        grid-column: 2;
        grid-row: 2;
    }
    #formCreateThreadDescription{
        grid-column: 2;
        grid-row: 3;
    }
    #formCreateThreadContent{
        grid-column: 2;
        grid-row: 4;
    }
    #formCreateThreadContent,textarea{
        height: 100%;
    }
    button{
        grid-column: 2;
        grid-row: 5;
    }
    .formInputArea,textarea,input{
        width: 100%;            
        box-sizing: border-box;
    }
    .labelCell{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
    h6{
        margin: 0;
        margin-right: 5px;
        margin-top: 7px;
        color: variable.$main_white;
        font-family: variable.$font_subtitle;
    }
    #formCreateThreadTitleLabel{
        grid-column: 1;
        grid-row: 1;
    }
    #formCreateThreadDescriptionLabel{
        grid-column: 1;
        grid-row: 3;
    }
    #formCreateThreadContentLabel{
        grid-column: 1;
        grid-row: 4;
    }
}
