@use "../../utils/variable";

.page-thread{
        color:variable.$main_white;
    // Thread
    h1{
        font-family: variable.$font_title;
    }

    .thread{
        display: flex;
        flex-direction: column;
        border-bottom: solid black 3px;
    }

    .threadHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: variable.$main_blue;
        border-bottom:solid black 1px ;
        height: 50px;

        a{
            margin: auto 10px auto ;
            color:variable.$main_white;
            text-decoration: none;
            &:hover{
                color: variable.$link_emphase;
                text-decoration: underline;
            }
        }
        
    }

    .threadTitle{
        margin: 5px 0 0 20px;
    }

    .threadBody, .commentBody{
        display: flex;
        flex-direction: row;
    }
    .threadContent, .commentContent{
        margin: 7px;
        width: 100%;
        
    }

    .userDetail{
        display: flex;
        flex-direction: column;
        width: 250px;
        min-height: 200px;
        border-left: solid black 2px;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin: 0;
        padding-top: 5px;
        gap :5px;

        img{
            width: calc(249px*0.6);
            height:calc(197px*0.6);
            padding: 0;
            margin: 0;
        }
    }
    // Comments
    .comment{
        border-bottom:solid black 2px;
    }
}