// Variable de style
// Font
$font_title: "Cinzel Decorative", serif;
$font_subtitle: 'MedievalSharp', cursive;
$font_main: 'Roboto', sans-serif;
// Color
$main_text : #101010;
$main_blue : #25324B;
$main_red : #E15554;
$main_white : #D9D9D9;
$background_secondary : #D9D9D9;
$background_tertiary : #141414;