@use "../utils/variable";

html, body {
    height: 100%;
    margin: 0;
    // max-width: 100%;
    // overflow-y: hidden;
}
body{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/images/background_tech.jpg") ;
}
main {
    width: 978px;
    flex:1;
    background-color: variable.$main_blue;
    margin: auto;
}

//Tablette
@media screen and (max-width:1199px) {
    main{
        width: min(100%,978px);
    }
}

//Mobile
@media screen and (max-width:767px) {
    html body main{
        width: 100%;
    }

}

