@charset "UTF-8";
@keyframes hoverbouton {
  100% {
    translate: -2px -2px;
    box-shadow: 2px 2px #D9D9D9;
  }
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/images/background_tech.jpg");
}

main {
  width: 978px;
  flex: 1;
  background-color: #25324B;
  margin: auto;
}

@media screen and (max-width: 1199px) {
  main {
    width: min(100%, 978px);
  }
}
@media screen and (max-width: 767px) {
  html body main {
    width: 100%;
  }
}
.commonHeader {
  background-color: #D9D9D9;
  height: 160px;
  width: min(100%, 978px);
  margin: auto;
  font-family: "MedievalSharp", cursive;
  color: #101010;
}
.commonHeader button {
  font-family: "MedievalSharp", cursive;
  border: none;
  background-color: #D9D9D9;
  font-size: large;
}
.commonHeader button:hover {
  color: #101010;
  font-size: larger;
}

.header_top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid black 1px;
  height: 75%;
}

.header_top_left, .header_top_right {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.header_top_left img, .header_top_right img {
  width: 76px;
  height: 60px;
}
.header_top_left .header_top_left_left, .header_top_right .header_top_left_left {
  margin: 5px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.header_top_left .header_top_left_left img, .header_top_right .header_top_left_left img {
  width: 76px;
}
.header_top_left .header_top_left_left .modal, .header_top_right .header_top_left_left .modal {
  display: none;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 100%;
  width: 350px;
  height: 350px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.header_top_left .header_top_left_left .modal_content, .header_top_right .header_top_left_left .modal_content {
  margin: 10% auto;
  padding: 1rem;
  width: 300px;
  text-align: center;
}
.header_top_left .header_top_left_left .modal_content h3, .header_top_right .header_top_left_left .modal_content h3 {
  font-family: "MedievalSharp", cursive;
  color: #D9D9D9;
  font-size: large;
}
.header_top_left .header_top_left_left .close, .header_top_right .header_top_left_left .close {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #D9D9D9;
}
.header_top_left .header_top_left_left .avatars img, .header_top_right .header_top_left_left .avatars img {
  cursor: pointer;
  transition: transform 0.2s;
}
.header_top_left .header_top_left_left .avatars img:hover, .header_top_right .header_top_left_left .avatars img:hover {
  transform: scale(1.1);
}
.header_top_left .header_top_left_right, .header_top_right .header_top_left_right {
  margin: 5px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header_top_left .header_top_left_right a, .header_top_right .header_top_left_right a {
  text-decoration: none;
  color: #101010;
  transition: transform 0.2s;
}
.header_top_left .header_top_left_right a:hover, .header_top_right .header_top_left_right a:hover {
  transform: scale(1.1);
}

.menu_toggle {
  display: none;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header_top_left {
  border-right: 1px solid black;
}

.langue_toggle {
  display: none;
}

.header_top_right {
  border-left: 1px solid black;
  display: flex;
  padding: 5px;
}

.langue {
  display: flex;
  flex-direction: row;
  height: fit-content;
}
.langue .flags {
  display: flex;
  gap: 3px;
  margin-left: 5px;
}
.langue #language {
  width: 80px;
  margin: 5px;
}
.langue button {
  opacity: 0.5;
  transition: opacity 0.3s;
  cursor: pointer;
}
.langue button.active {
  opacity: 1;
}

.mainNav {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #141414;
  height: 40px;
}
.mainNav a {
  color: #D9D9D9;
  text-decoration: none;
  padding: 10px;
  background: #000000;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(140, 6, 6) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.mainNav a:hover {
  animation-name: hoverbouton;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 767px) {
  .commonHeader {
    width: 100%;
  }
  #language {
    display: none;
  }
  .langue {
    position: relative;
  }
  .langue .langue_toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;
  }
  .langue .langue_toggle #currentLang {
    display: inline-block;
    width: 1.5em;
    height: 1em;
  }
  .langue .flags {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    background: #D9D9D9;
    z-index: 10;
    width: max-content;
    border-top: solid black 2px;
    margin-top: 2px;
    padding-top: 2px;
    gap: 2px;
  }
  .langue .flags.open {
    display: flex;
  }
  .langue .flags button {
    width: 100%;
    text-align: left;
    width: 25px;
  }
  .header_middle_logo {
    width: 150px;
  }
  .header_middle_logo img {
    width: 100%;
  }
  .header_top_left {
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0;
    height: 100%;
  }
  .header_top_left .switch_Picture {
    margin: 0;
    padding: 0;
  }
  .header_top_left .header_top_left_left {
    height: 50%;
    margin: 0;
    padding: 0;
    gap: 0;
  }
  .header_top_left .header_top_left_right {
    height: 50%;
    margin: 0;
    padding: 0;
    gap: 0;
  }
  .menu_toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .menu_toggle img {
    width: 40px;
  }
  .link {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #D9D9D9;
    border: solid black 1px;
    padding: 0.5rem;
    z-index: 100;
  }
  .link.open {
    display: flex;
    gap: 4px;
  }
  .link.open a:hover {
    background-color: gray;
  }
  .header_top_left_right {
    position: relative;
  }
}
footer {
  width: min(100%, 978px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  height: 40px;
  margin: 0 auto;
}
footer a {
  color: #D9D9D9;
  text-decoration: none;
  margin: 5px;
}
footer a:hover {
  background-color: #D9D9D9;
  color: #101010;
}

@media screen and (max-width: 767px) {
  footer {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  footer a {
    margin: 0;
    height: 100%;
  }
}
.errorContainer {
  width: 978px;
  height: 100%;
  background-color: #D9D9D9;
  margin: auto;
}

.breadcrumb {
  font-family: "Roboto", sans-serif;
  padding: 0 0.5rem;
  background-color: #25324B;
  width: auto;
  border-bottom: solid black 1px;
  padding: 2px;
  color: #D9D9D9;
}
.breadcrumb a {
  color: #D9D9D9;
  text-decoration: none;
}

.breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: end;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.25rem;
  content: "→";
  color: #D9D9D9;
}

.article_column {
  width: 978px;
}

.article {
  display: flex;
  flex-direction: column;
  width: 562px;
  margin: auto;
}
.article h2 {
  font-family: "Cinzel Decorative", serif;
  color: #D9D9D9;
}
.article p {
  font-family: "Roboto", sans-serif;
  color: #D9D9D9;
}
.article img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .article_column {
    width: 100%;
  }
  .article {
    max-width: 562px;
  }
  .article img {
    width: 100%;
  }
}
.forum .heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  height: 30px;
  border-bottom: solid black 2px;
  color: #D9D9D9;
}
.forum .heading h2 {
  width: 120px;
  margin-left: 5px;
}
.forum .heading .forumBoutonContainer {
  align-self: center;
  margin-left: auto;
  margin-right: 5px;
}
.forum .heading .forumBoutonContainer a {
  color: #D9D9D9;
  font-family: "MedievalSharp", cursive;
}
.forum .heading .forumBoutonContainer a:link {
  text-decoration: none;
}
.forum .heading .forumBoutonContainer a:hover {
  color: #3F88C5;
  text-decoration: underline;
}
.forum .category {
  display: flex;
  flex-direction: column;
  height: 60px;
  color: #101010;
  background-color: #D9D9D9;
  gap: 5px;
}
.forum .category h2 {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.forum .category p {
  margin: 0;
  padding: 0;
}
.forum .category a {
  cursor: pointer;
}
.forum .category {
  border-bottom: solid black 2px;
}
.forum .category-title p {
  font-size: smaller;
}
.forum .collapsible .thread {
  display: none;
}
.forum .collapsible.open .thread {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.forum .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}
.forum .collapsible.open .arrow {
  transform: rotate(180deg);
}
.forum .thread {
  border-bottom: solid black 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #D9D9D9;
  display: none;
}
.forum .thread .threadDetail {
  width: 400px;
  border-left: solid black 2px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}
.forum .thread .threadDetail .threadLabelCreatedBy {
  margin-left: 5px;
  grid-column: 1;
  grid-row: 1;
}
.forum .thread .threadDetail .threadCreatedBy {
  grid-column: 2;
  grid-row: 1;
}
.forum .thread .threadDetail .threadCreatedAt {
  grid-column: 3;
  grid-row: 1;
}
.forum .thread .threadDetail .threadLabelLastAnswer {
  grid-column: 1;
  grid-row: 2;
}
.forum .thread .threadDetail .threadLastAnswer {
  grid-column: 2;
  grid-row: 2;
}
.forum .thread .threadDetail .threadLastUpdate {
  grid-column: 3;
  grid-row: 2;
}
.forum .thread .threadLeft {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 50px;
  justify-content: flex-start;
}
.forum .thread .threadLeft .threadLeftTop {
  margin: 0;
  gap: 0;
  padding: 0;
  border-bottom: solid black 1px;
  padding-left: 5px;
}
.forum .thread .threadLeft .threadDescription {
  flex: 1;
  padding-left: 5px;
  padding-top: 4px;
}
.forum .threadLeft h3 a,
.forum .threadLeft h3 a:visited,
.forum .threadLeft h3 a:active {
  color: #D9D9D9;
  text-decoration: none;
}
.forum .threadLeft h3 a:hover {
  color: #3F88C5;
}

.formCreateThread {
  align-items: start;
  padding-top: 10px;
  margin: auto;
  width: 100%;
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 20px 20px 38px 300px auto;
}
.formCreateThread #formCreateThreadTitle {
  grid-column: 2;
  grid-row: 1;
}
.formCreateThread #formCreateThreadCategory {
  grid-column: 2;
  grid-row: 2;
}
.formCreateThread #formCreateThreadDescription {
  grid-column: 2;
  grid-row: 3;
}
.formCreateThread #formCreateThreadContent {
  grid-column: 2;
  grid-row: 4;
}
.formCreateThread #formCreateThreadContent, .formCreateThread textarea {
  height: 100%;
}
.formCreateThread button {
  grid-column: 2;
  grid-row: 5;
}
.formCreateThread .formInputArea, .formCreateThread textarea, .formCreateThread input {
  width: 100%;
  box-sizing: border-box;
}
.formCreateThread .labelCell {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.formCreateThread h6 {
  margin: 0;
  margin-right: 5px;
  margin-top: 7px;
  color: #D9D9D9;
  font-family: "MedievalSharp", cursive;
}
.formCreateThread #formCreateThreadTitleLabel {
  grid-column: 1;
  grid-row: 1;
}
.formCreateThread #formCreateThreadDescriptionLabel {
  grid-column: 1;
  grid-row: 3;
}
.formCreateThread #formCreateThreadContentLabel {
  grid-column: 1;
  grid-row: 4;
}

.page-thread {
  color: #D9D9D9;
}
.page-thread h1 {
  font-family: "Cinzel Decorative", serif;
}
.page-thread .thread {
  display: flex;
  flex-direction: column;
  border-bottom: solid black 3px;
}
.page-thread .threadHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #25324B;
  border-bottom: solid black 1px;
  height: 50px;
}
.page-thread .threadHeader a {
  margin: auto 10px auto;
  color: #D9D9D9;
  text-decoration: none;
}
.page-thread .threadHeader a:hover {
  color: #3F88C5;
  text-decoration: underline;
}
.page-thread .threadTitle {
  margin: 5px 0 0 20px;
}
.page-thread .threadBody, .page-thread .commentBody {
  display: flex;
  flex-direction: row;
  border-bottom: solid black 2px;
}
.page-thread .threadContent, .page-thread .commentContent {
  margin: 7px;
  width: 100%;
}
.page-thread .userDetail {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: 200px;
  border-left: solid black 2px;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  gap: 5px;
}
.page-thread .userDetail img {
  width: 149.4px;
  height: 118.2px;
  padding: 0;
  margin: 0;
}

.formCreateComment {
  align-items: start;
  padding-top: 10px;
  margin: auto;
  width: 100%;
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 300px auto;
}
.formCreateComment .formInputArea, .formCreateComment textarea, .formCreateComment input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.formCreateComment .labelCell {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.formCreateComment #formCreateCommentContentLabel {
  grid-column: 1;
  grid-row: 1;
}
.formCreateComment #formCreateThreadContent {
  grid-column: 2;
  grid-row: 1;
}
.formCreateComment button {
  grid-column: 2;
  grid-row: 2;
}

.page-login main {
  background-color: transparent;
}

.loginContainer {
  border: solid black 2px;
  border-radius: 25px;
  width: 350px;
  margin: auto;
  background-color: #D9D9D9;
}
.loginContainer h2 {
  text-align: center;
}

.tabs {
  width: 80%;
  margin: 40px auto;
}

.tabButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tabBtn {
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.tabBtn.active {
  border-bottom: solid black 3px;
  font-weight: bold;
}

.tabContent {
  display: none;
  padding: 20px 0;
}

.tabContent.active {
  display: block;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.loginForm, input {
  width: 100%;
}

.successMessage {
  text-align: center;
}

.welcomeMessage {
  height: 80px;
  text-align: center;
  gap: 5px;
}

#btnSubmitCreate {
  font-family: "Cinzel Decorative", serif;
  font-weight: bold;
  font-size: large;
  align-self: center;
  padding: 3px;
  border: solid grey 1px;
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
