@use "../../utils/variable";
.breadcrumb{
    font-family: variable.$font_main;
    padding: 0 0.5rem;
    background-color:variable.$main_blue ;
    width: auto;
    border-bottom: solid black 1px;
    padding: 2px;
    color: variable.$main_white;
    a{
        color: variable.$main_white;
        text-decoration: none;
    }
}

.breadcrumb ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: end;

}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 0.25rem;
    content: "→";
    color: variable.$main_white;
}