@use "../../utils/variable";
@use "../../components/buttons";

.commonHeader{
    background-color: variable.$background_secondary;
    width: min(100%,978px);
    margin: auto;
    font-family:variable.$font_subtitle ;
    color:variable.$main_text;
    button{
        font-family: variable.$font_subtitle;
        @include buttons.btn();
    }
}

.header_top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid black 1px;
    height: 120px;
}
.header_top_left,.header_top_right{
    
    flex: 1;
    display: flex;
    flex-direction: row;
    min-width: 0;
    

    img{
        width: 76px;
        height:60px;
    }
    .header_top_left_left{
        margin: 5px;
        gap: 5px;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        
        img{
            width: 76px;
        }
        .modal {
            display: none;
            position: absolute;
            z-index: 1000;
            left: 0;
            top: 100%;
            width: 350px;
            height: 350px;
            overflow: auto;
            background-color: rgba(0,0,0,0.5);
        }
        .modal_content {
            
            margin: 10% auto;
            padding: 1rem;
            
            width: 300px;
            text-align: center;
            h3{
                font-family: variable.$font_subtitle;
                color: variable.$main_white;
                font-size: large;
            }
        }
        .close {
        float: right;
        font-size: 1.5rem;
        cursor: pointer;
        background-color: variable.$background_secondary;
        }
        .avatars img {
        cursor: pointer;
        transition: transform 0.2s;
        }

        .avatars img:hover {
        transform: scale(1.1);
        }
        
    }
    .header_top_left_right{
        margin: 5px;
        margin-left:20px ;
        display: flex;
        flex-direction: column;
        gap: 5px;
        a{
            text-decoration: none;
            color: variable.$main_text;
            transition: transform 0.2s; 

            
        }
        a:hover {
                transform: scale(1.1);
            }
    }
}
.header_top_left{
    border-right: 1px solid black;
}
.langue_toggle {
    display: none;
}
.header_top_right{
    border-left: 1px solid black;
    display: flex;
    padding: 5px;
    }
    
.langue{
    display: flex;
    flex-direction: row;
    height: fit-content;
    
    .flags{
        display: flex;
        // gap: 5px;
        margin-left: 5px;
        
    }
    #language{
        width: 80px;
        margin: 5px;
    }
    button{
        opacity: 0.5;
        transition: opacity 0.3s;
        cursor: pointer;

        &.active{
            opacity: 1;
        }
    }
}

.mainNav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: variable.$background_tertiary;
    height: 40px;


    a{
        color: variable.$main_white;
        text-decoration: none;
        padding: 10px;
        background: #000000;
        background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(140, 6, 6, 1) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;

        &:hover{
            animation-name: hoverbouton;
            animation-duration: 0.2s;
            animation-fill-mode: forwards;
        }
        
    }
}

//Mobile
@media screen and (max-width:767px) {
    .commonHeader{
        width: 100%;
    }
    // .header_middle_logo{
    //     display: none;
    // }
    .langue{
        position: relative;
    }
    #language{
        display: none;
    }
    .langue_toggle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: none;
        // padding: 0.4rem;
        cursor: pointer;
    }
    .langue_toggle #currentLang {
        display: inline-block;
        width: 1.5em;
        height: 1em;
    }
    .flags{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        // transform: translateX(-50%);
        flex-direction: column;
        background: variable.$main_white;
        z-index: 10;
        width: max-content; 
        border-top: solid black 2px;
        margin-top: 2px;
        padding-top: 2px;
        gap: 2px;
    }
    .flags.open {
        display: flex;
    }

    .flags button {
        width: 100%;
        text-align: left;
        width: 25px;
        // padding: 0.4rem 0.6rem;
    }
}
