@use "../../utils/variable";
@use "../../components/buttons";

.commonHeader{
    background-color: variable.$background_secondary;
    // width: 978px;
    margin: auto;
    font-family:variable.$font_subtitle ;
    color:variable.$main_text;
    button{
        font-family: variable.$font_subtitle;
        @include buttons.btn();
    }
}

.header_top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid black 1px;
    height: 120px;
}
.header_top_left,.header_top_right{
    
    flex: 1;
    display: flex;
    flex-direction: row;
    // align-items: center;
    // justify-content: center;
    

    img{
        width: 100px;
        height:76px;
    }
    .header_top_left_left{
        margin: 5px;
        gap: 5px;
        display: flex;
        flex-direction: column;
        text-align: center;
        

        position: relative;
        
        
        .modal {
            display: none;
            position: absolute;
            z-index: 1000;
            left: 0;
            top: 100%;
            width: 350px;
            height: 350px;
            overflow: auto;
            background-color: rgba(0,0,0,0.5);
        }
        .modal_content {
            
            margin: 10% auto;
            padding: 1rem;
            
            width: 300px;
            text-align: center;
            h3{
                font-family: variable.$font_subtitle;
                color: variable.$main_white;
                font-size: large;
            }
        }
        .close {
        float: right;
        font-size: 1.5rem;
        cursor: pointer;
        background-color: variable.$background_secondary;
        }
        .avatars img {
        cursor: pointer;
        transition: transform 0.2s;
        }

        .avatars img:hover {
        transform: scale(1.1);
        }
        
    }
    .header_top_left_right{
        margin: 5px;
        margin-left:20px ;
        display: flex;
        flex-direction: column;
        gap: 5px;
        a{
            text-decoration: none;
            color: variable.$main_text;
            transition: transform 0.2s; 

            
        }
        a:hover {
                transform: scale(1.1);
            }
    }
}
.header_top_left{
    border-right: 1px solid black;
}
.header_top_right{
    border-left: 1px solid black;
    display: flex;
    padding: 5px;

    .langue{
        display: flex;
        flex-direction: row;
        height: fit-content;
        gap: 5px;
        

        .flags{
            margin-left: 5px;
        }
        #language{
            
            width: 80px;
        }
        button{
            opacity: 0.5;
            transition: opacity 0.3s;
            cursor: pointer;

            &.active{
                opacity: 1;
            }
        }

    }
}
.mainNav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: variable.$background_tertiary;
    height: 40px;


    a{
        color: variable.$main_white;
        text-decoration: none;
        padding: 10px;
        // border-top: 2px solid $main_red;
        // border-right: 2px solid $main_red;
        // border-bottom: 2px solid $main_red;
        // border-left: 2px solid $main_red;
        background: #000000;
        background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(140, 6, 6, 1) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;

        &:hover{
            animation-name: hoverbouton;
            animation-duration: 0.2s;
            animation-fill-mode: forwards;
        }
        
    }
}